<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption Portal</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  
</head>
<body>
    <header>
        <h1>Welcome to the Pet Adoption Portal</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/pets">Manage Pets</a>
        <a href="/adopters">Manage Adopters</a>
        <a href="/adoptions">Manage Adoptions</a>
        <a href="/FAQ">FAQ</a>
    </nav>
    <div class="hero">
        <h2>Find Your Perfect Companion</h2>
        <p>Adopt a furry friend today and give them the loving home they deserve. Let's make a difference together!</p>
    </div>
    <footer class="bg-pastel-green-600 py-4 text-center">
        <p class="text-black">&copy; 2024 Pet Adoption Management System. All rights reserved.</p>
    </footer>
    
</html>
